.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(
        101.61% 101.61% at 50% -1.61%,
        #e0f7fa 7.04%,
        rgba(178, 235, 242, 0.893007) 18.9%,
        rgba(128, 222, 234, 0.784618) 31.21%,
        rgba(77, 208, 225, 0.651329) 40.29%,
        rgba(38, 198, 218, 0.554658) 51.86%,
        rgba(0, 188, 212, 0.44334) 62.26%,
        rgba(0, 172, 193, 0.334952) 73.68%,
        rgba(0, 151, 167, 0.235351) 80.71%,
        rgba(0, 131, 143, 0.0991331) 90.09%,
        rgba(0, 96, 100, 0) 96.97%
    );
}

.container_content {
    display: block;
    text-align: center;
    overflow-y: auto;
    overflow-x: inherit;
    width: 100%;
    max-height: 650px;
    margin-bottom: 50px;

    &::-webkit-scrollbar {
        z-index: 4;
        width: 4px;
        overflow: hidden;
    }

    &::-webkit-scrollbar:hover {
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        overflow: hidden;
    }
}

.template {
    // position: absolute;
    // right: 4px;
    // top: 100px;
    // display: inline-block;
    // font-size: 2.4rem;
    // font-weight: 900;

    &:hover {
        cursor: pointer;
    }
}

.show-hide {
    position: absolute;
    display: inline-block;
    z-index: 10;
    right: 0px;
    top: 100px;
    font-size: 2.4rem;
    font-weight: 900;
    padding: 4px;
    background-color: #ccc;
}

// input data
.container_input {
    bottom: 0;
    top: auto;
    margin-bottom: 4.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon-loading-answer {
    position: absolute;
    z-index: 2;
    right: 9%;
    // padding-top: 5.5px;
    // padding-bottom: 5.5px;

    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    animation: spinner 1s linear infinite;

    &:hover {
        cursor: pointer;
    }
}

.form {
    position: relative;
    display: inline-block;
    width: calc((1200 / 1440) * 100%);
}

.form-item {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 42px;
    .form-item--data {
        height: 42px;
    }
}

.form-item--data {
    display: block;
    width: 85%;
    padding-right: 42px;
    min-height: 42px !important;
    line-height: 31px !important;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        z-index: 4;
        width: 8px;
        overflow: hidden;
    }

    &::-webkit-scrollbar:hover {
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        overflow: hidden;
    }
}

.send-question {
    position: absolute;
    z-index: 2;
    right: 9%;
    padding-top: 11px;

    background-color: transparent;
    border: none;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
    }
}

.btn-send-question {
    position: absolute;
    z-index: 2;
    right: 9%;

    background-color: transparent;
    border: none;
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
    }
}

.btn-logout {
    position: absolute;
    display: inline-flex;
    width: 100px;
    height: 42px;
    left: 86%;

    font-size: 1.6rem;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 1%;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        cursor: pointer;
    }
}

.button-logout-title {
    display: flex;
    margin: auto;
    align-items: center;
    font-weight: 600;
}
