.wrapper {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 400px;
    height: 500px;
    margin: 0;

    background-color: #ccc;
    overflow-y: auto;
    border-radius: 8px;
}

.title {
    display: block;
    margin: 4px 0;
    font-size: 2.2rem;
}
